
.contact-page__container {
  padding: 0;
  margin-top: 40px;
}
.e-google-map {
  height: 600px;
  max-height: calc(100vh - 50px);
  margin-bottom: 50px;
}
.ecc-info {
  margin-bottom: 30px;
}
.epg-title {
  font-family: Playfair;
  font-size: 24px;
  font-weight: bold;
  color: #667dcb;
  border-left: 4px solid #2FBCED;
  height: 32px;
  padding-left: 15px;
  margin-bottom: 50px;
  line-height: 30px;
  margin: 0 0 30px;
}
@media screen and (max-width: 768px) {
  .e-google-map {
    height: 200px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .e-google-map {
      height: 450px;
  }
}